# Análise Exploratória de Dados e Formulação de Hipóteses

### Descrição do Conjunto de Dados

O conjunto de dados utilizado nesta análise contém informações detalhadas sobre os candidatos aprovados em um processo seletivo do SISU (Sistema de Seleção Unificada). Ele abrange 418 registros, cada um representando um candidato, com as seguintes variáveis:

1. **universidade** 
(*object*): Nome da universidade para a qual o candidato foi aprovado.   
2. **nota_linguagens** (*float64*): Nota obtida na prova de Linguagens, Códigos e suas Tecnologias.  
3. **nota_ciencias_humanas** (*float64*): Nota obtida na prova de Ciências Humanas e suas Tecnologias.  
4. **nota_ciencias_natureza** (*float64*): Nota obtida na prova de Ciências da Natureza e suas Tecnologias.  
5. **nota_matematica** (*float64*): Nota obtida na prova de Matemática e suas Tecnologias.  
6. **nota_redacao** (*float64*): Nota obtida na redação.  
7. **nota_final** (*float64*): Média final do candidato, considerando os pesos das notas conforme os critérios do SISU.  
8. **sexo** (*object*): Gênero do candidato (masculino ou feminino).  
9. **data_nascimento** (*object*): Data de nascimento do candidato.  
10. **uf_candidato** (*object*): Unidade federativa de residência do candidato.  
11. **modalidade_concorrencia** (*object*): Categoria de concorrência na qual o candidato participou (ex.: ampla concorrência, cotas).

### Observação importante:
A análise exploratória atual foca em observar o desempenho dos candidatos aprovados, considerando observar principalmente as nota por universidade, apesar disso, **é importante ressaltar o potencial de exploração dos demais dados do dataset em futuras versões do projeto**. Informações como as notas específicas por área do conhecimento, o perfil demográfico dos candidatos (sexo, Estado e município de origem, idade) e as modalidades de concorrência oferecem oportunidades para análises mais amplas e aprofundadas. Esses dados poderão ser utilizados para investigar padrões de desempenho por região, disparidades entre categorias de concorrência e outras questões relacionadas à educação superior no Brasil. 

Assim, este dataset não apenas atende ao objetivo inicial, mas também proporciona uma base rica para extensões analíticas no futuro.

## 1 - Importação de Dados:
Comecei importando as bibliotecas necessárias, como Pandas e Datetime, e configurei as opções de exibição do pandas para facilitar a visualização dos dados. Em seguida, carreguei o arquivo inicial, criando o DataFrame com os registros originais.

In [37]:
# Importação da biblioteca Pandas para manipulação de dados
import pandas as pd

# Importação da biblioteca Matplotlib para criação de gráficos e visualizações básicas
import matplotlib.pyplot as plt

# Importação da biblioteca Seaborn para visualizações estatísticas mais avançadas e estilizadas
import seaborn as sns

In [16]:
# Formatando saída de dados
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.2f}'.format

In [17]:
# Importação de dados
df = pd.read_csv("dataframe_sisu_limpo.csv")

In [18]:
# Visualizando o dataframe
df.head()

,universidade,nota_linguagens,nota_ciencias_humanas,nota_ciencias_natureza,nota_matematica,nota_redacao,nota_final,sexo,data_nascimento,idade,uf_candidato,municipio_candidato,modalidade_concorrencia
0,UFPE,588.50,648.60,547.10,651.00,820.00,657.53,Masculino,2004-12-26,18,TO,Ananás,Candidatos Autodeclarados Pretos. Pardos Ou In...
1,UPE,560.50,551.30,476.50,410.10,580.00,515.68,Feminino,2001-06-01,21,SP,São Paulo,Egressos De Escolas Públicas Da Rede Federal. ...
2,UPE,496.60,355.70,573.40,745.70,720.00,578.28,Masculino,2002-10-19,20,SP,Santo André,Ampla Concorrência
3,UFPE,506.90,579.50,512.60,623.20,580.00,576.44,Masculino,2003-01-21,19,SP,Campinas,Candidatos Com Renda Familiar Bruta Per Capita...
4,UFPE,592.90,606.60,553.40,689.70,560.00,618.51,Masculino,1997-08-05,25,MG,Ipatinga,Ampla Concorrência

## 2 - Análise Descritiva do Conjunto de Dados:
Esta fase de análise representa uma continuidade aprimorada da etapa anterior de limpeza de dados, na qual foram realizados os ajustes necessários para assegurar a qualidade do conjunto de dados. Com isso, quaisquer tratamentos adicionais tornam-se desnecessários nesta etapa, permitindo que o foco seja direcionado exclusivamente à análise descritiva dos dados.

### 2.1 - Estatísticas Gerais:
---
**Processo Seletivo:**
- De acordo com os dados do SISU, em 2022, o Curso de Engenharia da Computação registrou 418 aprovados nas duas universidades analisadas, sendo 214 na UFPE e 204 na UPE.
---
**Informações Demográficas:**
- Os valores mínimos e máximos de idades observados foram, respectivamente, 17 e 65 anos, fornecendo uma visão sobre a amplitude dos dados analisados. Apesar disso, média de idade dos candidatos aprovados nas duas universidades varia entre 19 e 20 anos, refletindo o perfil predominante dos participantes.
- Dos 418 candidatos aprovados, 342 são homens e 76 são mulheres, evidenciando uma predominância masculina significativa em relação às mulheres entre os aprovados.

In [19]:
# Estatísticas gerais das variáveis quantitativas
df.describe()

,nota_linguagens,nota_ciencias_humanas,nota_ciencias_natureza,nota_matematica,nota_redacao,nota_final,idade
count,418.00,418.00,418.00,418.00,418.00,418.00,418.00
mean,569.84,602.56,584.18,689.87,756.03,654.67,20.02
std,67.62,88.60,89.35,127.21,143.06,97.19,4.25
min,374.00,354.50,358.00,374.60,400.00,426.26,17.00
25%,525.65,548.80,528.23,612.60,640.00,573.83,18.00
50%,579.80,615.50,588.15,699.25,780.00,661.00,19.00
75%,621.85,667.10,657.50,788.35,880.00,732.48,20.00
max,725.40,827.00,765.80,953.10,980.00,844.95,65.00

In [65]:
# Contagem de candidatos aprovados por universidades
df[['nota_final', 'universidade']].groupby([ 'universidade']).agg(['count'])

              nota_final
universidade
UFPE                 214
UPE                  204

In [68]:
# Candidatos aprovados por sexo em cada universidade
df.groupby(['sexo', 'universidade']).size().reset_index(name='count')

        sexo universidade  count
0   Feminino         UFPE     33
1   Feminino          UPE     43
2  Masculino         UFPE    181
3  Masculino          UPE    161

In [28]:
# Média e mediana da idade dos candidatos aprovados entre as duas universidades
df[['idade', 'universidade']].groupby(['universidade']).agg(['mean', 'median'])

             idade
              mean median
universidade
UFPE         19.68  19.00
UPE          20.37  19.00

In [69]:
# Frequência da modalidade de concorrência
df.groupby(['modalidade_concorrencia']).size().sort_values(ascending=False)

modalidade_concorrencia
Ampla Concorrência                                                                                                                                                                                                                                                                                                     234
Egressos De Escolas Públicas Da Rede Federal. Estadual Ou Municipal. Que Cursaram Os Anos Finais Do Ensino Fundamental (6º Ao 9º Anos) E Todo O Ensino Médio (1º Ao 3º Anos). Com Renda Familiar Bruta Per Capita Igual Ou Inferior A 1.5 Salário Mínimo. Devendo Essa Condição Ser Comprovada No Ato Da Matrícula.     41
Egressos De Escolas Públicas Da Rede Federal. Estadual Ou Municipal. Que Cursaram Os Anos Finais Do Ensino Fundamental (6º Ao 9º Anos) E Todo O Ensino Médio (1º Ao 3º Anos). Com Qualquer Renda Renda Per Capita Bruta. Devendo Essa Condição Ser Comprovada No Ato Da Matrícula.                                      36
Candidatos Autodeclarados Pretos. Pardos Ou Indígenas. Com Renda Familiar Bruta Per Capita Igual Ou Inferior A 1.5 Salário Mínimo E Que Tenham Cursado Integralmente O Ensino Médio Em Escolas Públicas (Lei Nº 12.711/2012).                                                                                           31
Candidatos Autodeclarados Pretos. Pardos Ou Indígenas Que. Independentemente Da Renda (Art. 14. Ii. Portaria Normativa Nº 18/2012). Tenham Cursado Integralmente O Ensino Médio Em Escolas Públicas (Lei Nº 12.711/2012).                                                                                               28
Candidatos Com Renda Familiar Bruta Per Capita Igual Ou Inferior A 1.5 Salário Mínimo Que Tenham Cursado Integralmente O Ensino Médio Em Escolas Públicas (Lei Nº 12.711/2012).                                                                                                                                         25
Candidatos Que. Independentemente Da Renda (Art. 14. Ii. Portaria Normativa Nº 18/2012). Tenham Cursado Integralmente O Ensino Médio Em Escolas Públicas (Lei Nº 12.711/2012).                                                                                                                                          21
Candidatos Com Deficiência Autodeclarados Pretos. Pardos Ou Indígenas Que. Independentemente Da Renda (Art. 14. Ii. Portaria Normativa Nº 18/2012). Tenham Cursado Integralmente O Ensino Médio Em Escolas Públicas (Lei Nº 12.711/2012).                                                                                1
Candidatos Com Deficiência Que Tenham Renda Familiar Bruta Per Capita Igual Ou Inferior A 1.5 Salário Mínimo E Que Tenham Cursado Integralmente O Ensino Médio Em Escolas Públicas (Lei Nº 12.711/2012).                                                                                                                 1
dtype: int64

## 3 - Análise de Notas:

Durante a etapa de análise estatística das notas no projeto de análise de dados, com o objetivo de compreender o desempenho acadêmico entre duas universidades presentes no conjunto de dados, foram selecionadas as seguintes medidas descritivas para observação:

**Mean (Média):** Para identificar o valor médio das notas dos candidatos em cada universidade.

**Count (Contagem):** Para determinar a quantidade total de registros de notas disponíveis em cada universidade.

**Std (Desvio Padrão):** Para medir a dispersão das notas em relação à média, avaliando a variabilidade nos desempenhos.

**Min (Valor Mínimo):** Para identificar a menor nota registrada em cada universidade.

**Max (Valor Máximo):** Para registrar a maior nota alcançada entre os candidatos.

Essas medidas oferecem uma visão ampla e detalhada do comportamento das notas, auxiliando na comparação entre as universidades e na fundamentação de análises mais aprofundadas.

### 3.1 - Notas por Universidade:
A análise das estatísticas de notas entre a Universidade Federal de Pernambuco (UFPE) e a Universidade Estadual de Pernambuco (UPE) revela uma diferença nas médias de desempenho. Observa-se que a UFPE apresenta uma média de notas superior à da UPE, destacando-se como a instituição com os melhores resultados entre as duas.

In [21]:
# Estatísticas de notas por universidades
df[['nota_final', 'universidade']].groupby([ 'universidade']).agg(['mean', 'median', 'count', 'std', 'min', 'max'])

             nota_final
                   mean median count   std    min    max
universidade
UFPE             705.61 709.15   214 75.75 546.37 844.95
UPE              601.23 587.03   204 88.20 426.26 764.90

### Observação:
Apesar da diferença evidente, é fundamental realizar validações estatísticas para interpretá-la de forma robusta e confiável.