# Análise Exploratória de Dados e Formulação de Hipóteses

### Descrição do Conjunto de Dados

O conjunto de dados utilizado nesta análise contém informações detalhadas sobre os candidatos aprovados em um processo seletivo do SISU (Sistema de Seleção Unificada). Ele abrange 418 registros, cada um representando um candidato, com as seguintes variáveis:

1. **universidade** 
(*object*): Nome da universidade para a qual o candidato foi aprovado.   
2. **nota_linguagens** (*float64*): Nota obtida na prova de Linguagens, Códigos e suas Tecnologias.  
3. **nota_ciencias_humanas** (*float64*): Nota obtida na prova de Ciências Humanas e suas Tecnologias.  
4. **nota_ciencias_natureza** (*float64*): Nota obtida na prova de Ciências da Natureza e suas Tecnologias.  
5. **nota_matematica** (*float64*): Nota obtida na prova de Matemática e suas Tecnologias.  
6. **nota_redacao** (*float64*): Nota obtida na redação.  
7. **nota_final** (*float64*): Média final do candidato, considerando os pesos das notas conforme os critérios do SISU.  
8. **sexo** (*object*): Gênero do candidato (masculino ou feminino).  
9. **data_nascimento** (*object*): Data de nascimento do candidato.  
10. **uf_candidato** (*object*): Unidade federativa de residência do candidato.  
11. **modalidade_concorrencia** (*object*): Categoria de concorrência na qual o candidato participou (ex.: ampla concorrência, cotas).

### Observação importante:
A análise exploratória atual foca em observar o desempenho dos candidatos aprovados, considerando observar principalmente as nota por universidade, apesar disso, **é importante ressaltar o potencial de exploração dos demais dados do dataset em futuras versões do projeto**. Informações como as notas específicas por área do conhecimento, o perfil demográfico dos candidatos (sexo, Estado e município de origem, idade) e as modalidades de concorrência oferecem oportunidades para análises mais amplas e aprofundadas. Esses dados poderão ser utilizados para investigar padrões de desempenho por região, disparidades entre categorias de concorrência e outras questões relacionadas à educação superior no Brasil. 

Assim, este dataset não apenas atende ao objetivo inicial, mas também proporciona uma base rica para extensões analíticas no futuro.

## 1 - Importação de Dados:
Comecei importando as bibliotecas necessárias, como Pandas e Datetime, e configurei as opções de exibição do pandas para facilitar a visualização dos dados. Em seguida, carreguei o arquivo inicial, criando o DataFrame com os registros originais.

In [1]:
# Importação da biblioteca Pandas para manipulação de dados
import pandas as pd

# Importação da biblioteca Matplotlib para criação de gráficos e visualizações básicas
import matplotlib.pyplot as plt

# Importação da biblioteca Seaborn para visualizações estatísticas mais avançadas e estilizadas
import seaborn as sns

In [2]:
# Formatando saída de dados
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.2f}'.format

In [3]:
# Importação de dados
df = pd.read_csv("dataframe_sisu_limpo.csv")

In [4]:
# Visualizando o dataframe
df.head()

,universidade,nota_linguagens,nota_ciencias_humanas,nota_ciencias_natureza,nota_matematica,nota_redacao,nota_final,sexo,data_nascimento,idade,uf_candidato,municipio_candidato,modalidade_concorrencia
0,UFPE,588.50,648.60,547.10,651.00,820.00,657.53,Masculino,2004-12-26,18,TO,Ananás,"Cota - PPI, Escola Pública, Renda ≤ 1.5 SM"
1,UPE,560.50,551.30,476.50,410.10,580.00,515.68,Feminino,2001-06-01,21,SP,São Paulo,"Cota - Escola Pública, Renda ≤ 1.5 SM"
2,UPE,496.60,355.70,573.40,745.70,720.00,578.28,Masculino,2002-10-19,20,SP,Santo André,Ampla Concorrência
3,UFPE,506.90,579.50,512.60,623.20,580.00,576.44,Masculino,2003-01-21,19,SP,Campinas,"Cota - Escola Pública, Renda ≤ 1.5 SM"
4,UFPE,592.90,606.60,553.40,689.70,560.00,618.51,Masculino,1997-08-05,25,MG,Ipatinga,Ampla Concorrência

## 2 - Análise Descritiva do Conjunto de Dados:
Esta fase de análise representa uma continuidade aprimorada da etapa anterior de limpeza de dados, na qual foram realizados os ajustes necessários para assegurar a qualidade do conjunto de dados. Com isso, quaisquer tratamentos adicionais tornam-se desnecessários nesta etapa, permitindo que o foco seja direcionado exclusivamente à análise descritiva dos dados.

### 2.1 - Estatísticas Gerais:

In [5]:
# Estatísticas gerais das variáveis quantitativas
df.describe()

,nota_linguagens,nota_ciencias_humanas,nota_ciencias_natureza,nota_matematica,nota_redacao,nota_final,idade
count,418.00,418.00,418.00,418.00,418.00,418.00,418.00
mean,569.84,602.56,584.18,689.87,756.03,654.67,20.02
std,67.62,88.60,89.35,127.21,143.06,97.19,4.25
min,374.00,354.50,358.00,374.60,400.00,426.26,17.00
25%,525.65,548.80,528.23,612.60,640.00,573.83,18.00
50%,579.80,615.50,588.15,699.25,780.00,661.00,19.00
75%,621.85,667.10,657.50,788.35,880.00,732.48,20.00
max,725.40,827.00,765.80,953.10,980.00,844.95,65.00

### 2.2 - Sobre o Processo Seletivo:

#### Número de Aprovados:
De acordo com os dados, em 2022, o curso de Engenharia da Computação registrou 418 aprovados nas duas universidades analisadas, sendo 214 na UFPE e 204 na UPE.

In [6]:
# Contagem de candidatos aprovados por universidades
df[['nota_final', 'universidade']].groupby([ 'universidade']).agg(['count'])

             nota_final
                  count
universidade
UFPE                214
UPE                 204

#### Modalidade de Concorrência:
A distribuição das modalidades de concorrência revela que a **Ampla Concorrência** é a categoria predominante, com 234 candidatos, representando 55,98% do total. Em seguida, destacam-se as cotas para **Escola Pública com Renda ≤ 1.5 SM** (66 candidatos, 15,79%) e para **Escola Pública com Qualquer Renda** (57 candidatos, 13,64%). As cotas para **PPI e Escola Pública, com Renda ≤ 1.5 SM** somam 31 candidatos (7,42%), enquanto a modalidade **PPI, Escola Pública, Qualquer Renda** possui 28 candidatos (6,70%). As categorias de **Deficiência, com ou sem PPI**, representam a menor parte, com apenas 1 candidato cada (0,24%).

In [7]:
# Criando tabela de frequência da modalidade de concorrência
# Frequência absoluta
frequencia_absoluta = df.groupby(['modalidade_concorrencia']).size()

# Frequência relativa
frequencia_relativa = frequencia_absoluta / frequencia_absoluta.sum()

# Criando a tabela de frequência
tabela_frequencia = pd.DataFrame({
    'Frequência Absoluta': frequencia_absoluta,
    'Frequência Relativa (%)': frequencia_relativa * 100
}).sort_values(by='Frequência Absoluta', ascending=False)

# Exibindo a tabela de frequência
tabela_frequencia

,Frequência Absoluta,Frequência Relativa (%)
modalidade_concorrencia,,
Ampla Concorrência,234,55.98
"Cota - Escola Pública, Renda ≤ 1.5 SM",66,15.79
"Cota - Escola Pública, Qualquer Renda",57,13.64
"Cota - PPI, Escola Pública, Renda ≤ 1.5 SM",31,7.42
"Cota - PPI, Escola Pública, Qualquer Renda",28,6.70
"Cota - Deficiência, Escola Pública, Renda ≤ 1.5 SM",1,0.24
"Cota - Deficiência, PPI, Escola Pública, Qualquer Renda",1,0.24

### 2.3 - Informações Demográficas:

#### Sexo:
Dos 418 candidatos aprovados, 342 são homens e 76 são mulheres, evidenciando uma predominância masculina significativa em relação às mulheres entre os aprovados.

In [8]:
# Candidatos aprovados por sexo em cada universidade
df.groupby(['sexo', 'universidade']).size().reset_index(name='count')

        sexo universidade  count
0   Feminino         UFPE     33
1   Feminino          UPE     43
2  Masculino         UFPE    181
3  Masculino          UPE    161

#### Idade:
Os valores mínimos e máximos de idades observados foram, respectivamente, 17 e 65 anos, fornecendo uma visão sobre a amplitude dos dados analisados. Apesar disso, média de idade dos candidatos aprovados nas duas universidades varia entre 19 e 20 anos, refletindo o perfil predominante dos participantes.

In [9]:
# Média e mediana da idade dos candidatos aprovados entre as duas universidades
df[['idade', 'universidade']].groupby(['universidade']).agg(['mean', 'median'])

             idade
              mean median
universidade
UFPE         19.68  19.00
UPE          20.37  19.00

#### Local de Residência:

A análise dos dados revela que a maior parte dos candidatos aprovados em ambas as universidades, UFPE e UPE, está concentrada na cidade do **Recife**, refletindo o papel central da capital pernambucana como polo educacional e econômico da região. Logo em seguida, destacam-se as cidades de **Olinda** e **Jaboatão dos Guararapes**, que também possuem uma expressiva representatividade entre os aprovados. Esse padrão evidencia a influência geográfica e demográfica na distribuição dos candidatos, com maior concentração nas áreas urbanas próximas às instituições de ensino.

In [59]:
local_de_residencia_candidatos = df[['universidade', 'nota_final', 'uf_candidato', 'municipio_candidato' ]].groupby([ 'universidade', 'uf_candidato', 'municipio_candidato']).agg(['count'])
local_de_residencia_candidatos.sort_values(('nota_final', 'count'), ascending=False)

                                                  nota_final
                                                       count
universidade uf_candidato municipio_candidato
UFPE         PE           Recife                          80
UPE          PE           Recife                          71
                          Olinda                          24
                          Jaboatão dos Guararapes         21
UFPE         PE           Jaboatão dos Guararapes         19
                          Paulista                        15
UPE          PE           Paulista                        13
UFPE         PE           Olinda                           7
UPE          PE           Carpina                          7
UFPE         PI           Teresina                         7
UPE          PE           Camaragibe                       5
UFPE         PE           Camaragibe                       5
                          Vitória de Santo Antão           4
UPE          PE           Nazaré da Mata                   4
                          Cabo de Santo Agostinho          4
                          Abreu e Lima                     4
UFPE         PE           Carpina                          3
UPE          PE           Surubim                          3
UFPE         PE           Caruaru                          3
             AL           Maceió                           3
UPE          PI           Teresina                         3
UFPE         PE           Limoeiro                         3
             SP           São Paulo                        3
             PE           Aliança                          2
             PB           João Pessoa                      2
UPE          PE           Vitória de Santo Antão           2
UFPE         AM           Manaus                           2
             DF           Brasília                         2
             PE           Condado                          2
                          São Lourenço da Mata             2
                          Passira                          2
UPE          PE           Bom Jardim                       2
                          Caruaru                          1
                          Fernando de Noronha              1
                          Carnaubeira da Penha             1
                          Carnaíba                         1
                          Belém do São Francisco           1
                          Araçoiaba                        1
             PA           Santarém                         1
             DF           Brasília                         1
             CE           Missão Velha                     1
             BA           Senhor do Bonfim                 1
                          Salvador                         1
             PE           Goiana                           1
                          Lajedo                           1
                          Igarassu                         1
                          Ilha de Itamaracá                1
             SP           Santo André                      1
                          Pindamonhangaba                  1
                          Itapevi                          1
             RR           Boa Vista                        1
             RO           Vilhena                          1
             RJ           Rio de Janeiro                   1
                          Niterói                          1
                          Macaé                            1
                          Cabo Frio                        1
             PE           Venturosa                        1
                          Trindade                         1
                          Tracunhaém                       1
                          Toritama                         1
                          Tamandaré                        1
                          São Lourenço da Mata             1
                          São Bento do Una                 1
                          Salgueiro                        1
                          Pombos                           1
             BA           Jaguarari                        1
             PE           Lagoa do Carro                   1
                          Ipojuca                          1
             BA           Rio Real                         1
UFPE         RO           Ariquemes                        1
UPE          BA           Eunápolis                        1
UFPE         MG           Ipatinga                         1
             PE           Feira Nova                       1
                          Escada                           1
                          Cumaru                           1
                          Chã Grande                       1
                          Cabo de Santo Agostinho          1
                          Arcoverde                        1
                          Abreu e Lima                     1
             PA           Moju                             1
                          Belém                            1
                          Ananindeua                       1
             MG           Barbacena                        1
             PE           Gravatá                          1
             MA           Trizidela do Vale                1
                          São Luís                         1
                          Codó                             1
             CE           Pindoretama                      1
                          Fortaleza                        1
                          Crato                            1
             BA           Ruy Barbosa                      1
                          Porto Seguro                     1
                          Paulo Afonso                     1
                          Brumado                          1
             PE           Glória do Goitá                  1
                          Igarassu                         1
UPE          AP           Macapá                           1
UFPE         PE           Timbaúba                         1
UPE          AL           Delmiro Gouveia                  1
UFPE         TO           Ananás                           1
             SP           Suzano                           1
                          Sumaré                           1
                          Campinas                         1
                          Americana                        1
             RN           Natal                            1
             PI           Fronteiras                       1
             PE           Vicência                         1
                          Tupanatinga                      1
                          Tamandaré                        1
                          Ilha de Itamaracá                1
                          Surubim                          1
                          Serra Talhada                    1
                          Santa Maria do Cambucá           1
                          Salgueiro                        1
                          Rio Formoso                      1
                          Petrolina                        1
                          Pesqueira                        1
                          Paudalho                         1
                          João Alfredo                     1
                          Ipojuca                          1
UPE          SP           São Paulo                        1

## 3 - Análise de Notas:

Para a etapa de análise de notas, com o objetivo de compreender o desempenho acadêmico entre duas universidades presentes no conjunto de dados, foram selecionadas as seguintes medidas estatísticas para observação:

**Mean (Média):** Para identificar o valor médio das notas dos candidatos em cada universidade.

**Count (Contagem):** Para determinar a quantidade total de registros de notas disponíveis em cada universidade.

**Std (Desvio Padrão):** Para medir a dispersão das notas em relação à média, avaliando a variabilidade nos desempenhos.

**Min (Valor Mínimo):** Para identificar a menor nota registrada em cada universidade.

**Max (Valor Máximo):** Para registrar a maior nota alcançada entre os candidatos.

Essas medidas oferecem uma visão ampla e detalhada do comportamento das notas, auxiliando na comparação entre as universidades e na fundamentação de análises mais aprofundadas.

### 3.1 - Análise Comparativa de Notas  por Universidade:

A análise das estatísticas de notas entre a Universidade Federal de Pernambuco (UFPE) e a Universidade Estadual de Pernambuco (UPE) revela uma diferença nas médias de desempenho. Observa-se que a UFPE apresenta uma média de notas superior à da UPE, destacando-se como a instituição com os melhores resultados entre as duas.

In [10]:
# Estatísticas de notas por universidades
df[['nota_final', 'universidade']].groupby([ 'universidade']).agg(['mean', 'median', 'count', 'std', 'min', 'max'])

             nota_final
                   mean median count   std    min    max
universidade
UFPE             705.61 709.15   214 75.75 546.37 844.95
UPE              601.23 587.03   204 88.20 426.26 764.90

### 3.2 - Desempenho por Áreas do Conhecimento

#### As áreas de conhecimento do Enem são: 
- Ciências Humanas e suas Tecnologias
- Ciências da Natureza e suas Tecnologias
- Linguagens, Códigos e suas Tecnologias
- Matemática e suas Tecnologias

#### Resultados:
A análise das notas médias por área do conhecimento revelou que **a UFPE se destaca em relação à UPE**, apresentando desempenho superior em todas as áreas avaliadas. Esse diferencial é ainda mais evidente nas disciplinas de Matemática e Redação, onde a média dos candidatos aprovados na UFPE supera de forma significativa a da UPE. Esses resultados sugerem um perfil de candidatos mais competitivo na UFPE, especialmente em áreas que demandam alto nível de raciocínio lógico e habilidade de comunicação escrita.

In [54]:
# Desempenho por Áreas do Conhecimento
df[['nota_linguagens', 'nota_ciencias_humanas', 'nota_ciencias_natureza', 'nota_matematica', 'nota_redacao', 'universidade']].groupby([ 'universidade']).agg(['mean', 'median', 'count', 'std', 'min', 'max'])

             nota_linguagens                                   \
                        mean median count   std    min    max
universidade
UFPE                  591.21 597.30   214 55.35 436.30 725.40
UPE                   547.41 554.65   204 72.05 374.00 675.10

             nota_ciencias_humanas                                   \
                              mean median count   std    min    max
universidade
UFPE                        630.17 639.60   214 70.53 401.80 827.00
UPE                         573.60 584.80   204 96.23 354.50 762.60

             nota_ciencias_natureza                                   \
                               mean median count   std    min    max
universidade
UFPE                         619.57 622.85   214 68.53 500.50 765.80
UPE                          547.05 553.40   204 93.62 358.00 721.40

             nota_matematica                                   nota_redacao  \
                        mean median count    std    min    max         mean
universidade
UFPE                  749.12 755.35   214  96.92 554.40 953.10       799.53
UPE                   627.72 639.65   204 125.71 374.60 878.80       710.39


             median count    std    min    max
universidade
UFPE         840.00   214 125.63 500.00 980.00
UPE          700.00   204 146.25 400.00 980.00

### 3.1 - Notas por Estados:

#### Estado com maior número de candidatos:

PE (Pernambuco) lidera com 353 candidatos, representando uma concentração significativa de participantes. Isso pode estar relacionado à proximidade das universidades analisadas (UFPE e UPE) com a região.

#### Desempenho de Pernambuco:

Apesar de ter o maior número de candidatos, a média das notas finais em Pernambuco (652.18) é inferior à de estados como PI, AL e CE, sugerindo uma possível disparidade no desempenho médio.
#### Desvio padrão:

PE (Pernambuco) apresenta um desvio padrão alto (97.29), indicando uma maior variabilidade nas notas finais em comparação com outros estados. Isso sugere que, embora a média não seja tão alta, há candidatos com desempenhos tanto muito bons quanto baixos.

In [63]:
# Análise de notas entre os diferentes Estados
notas_por_estado = df[['uf_candidato', 'nota_final']].groupby(['uf_candidato']).agg(['mean', 'median', 'count', 'std', 'min', 'max'])
notas_por_estado.sort_values(('nota_final', 'mean'), ascending=False)

             nota_final
                   mean median count    std    min    max
uf_candidato
PB               798.01 798.01     2  56.28 758.22 837.81
RN               757.28 757.28     1    NaN 757.28 757.28
AM               747.76 747.76     2  40.90 718.84 776.68
PI               726.75 756.73    11  68.66 574.88 798.83
MA               706.84 683.16     3  70.83 650.89 786.48
AL               685.20 755.99     4 172.50 429.50 799.34
DF               679.87 711.54     3 113.62 553.78 774.30
RR               668.94 668.94     1    NaN 668.94 668.94
CE               667.76 698.12     4 143.70 483.52 791.27
TO               657.53 657.53     1    NaN 657.53 657.53
MG               657.43 657.43     2  55.04 618.51 696.35
PE               652.18 660.15   353  97.29 426.26 844.95
PA               638.64 617.38     4 101.64 544.82 775.00
RO               631.45 631.45     2  15.24 620.68 642.23
SP               629.89 598.76    11 100.38 503.56 781.05
BA               629.19 631.68     9  53.85 563.42 711.04
RJ               621.24 606.05     4  78.62 548.70 724.14
AP               482.04 482.04     1    NaN 482.04 482.04

## Conclusão:
A análise exploratória de dados evidenciou diferenças significativas nas médias de notas entre as universidades, com destaque para o desempenho superior da UFPE em todas as áreas do conhecimento, especialmente em Matemática e Redação. Apesar desses resultados, é essencial realizar validações estatísticas para confirmar a relevância e a significância dessas diferenças. Esse passo é fundamental para garantir uma interpretação robusta e confiável, evitando conclusões precipitadas baseadas apenas em observações descritivas.